<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DISNET - Account Validation</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
    <!--<div th:replace="fragments/header :: header"/>-->
    <main>
        <div class="container white-text">
            Account Validation
            <div>
                <span th:if="${successMessage != ''}" th:utext="${successMessage}"></span>
                <span th:if="${errorMessage != ''}" th:utext="${errorMessage}"></span>
            </div>
            <br/>
            <p class="margin center medium-small sign-up"><a th:href="@{/user/login}">Make login!</a></p>
            <br/><br/>
        </div>
    </main>
    <!-- /.container -->

    <div th:replace="fragments/footer :: footer"/>
    <div th:replace="fragments/footer :: footer-js"/>

</body>
</html>