<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DISNET - Home</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
    <!--<div th:replace="fragments/header :: header"/>-->

    <div class="container">
        Registration Confirmation
        <div>
            <span th:if="${successMessage != ''}" th:utext="${successMessage}"></span>
            <span th:if="${errorMessage != ''}" th:utext="${errorMessage}"></span>
        </div>
        <form th:object="${user}"></form>
        <br/><br/>
    </div>
    <!-- /.container -->

    <div th:replace="fragments/footer :: footer"/>
    <div th:replace="fragments/footer :: footer-js"/>

</body>
</html>