<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>DISNET - User Registration</title>
        <div th:replace="fragments/header :: header-css"/>
        <link type="text/css" rel="stylesheet"  th:href="@{/css/user.css}" media="screen,projection" />
    </head>
    <body class="login-content" >
        <div class="container">
            <div id="login-request" class="row" >
                <div class="col s12 m8 l8 offset-m2 offset-l2">
                    <div class="z-depth-5 card-panel">
                        <div class="row">
                            <form id="registrationForm" class="login-form right-alert" method="post" action="#" th:action="@{/user/registration}"  ><!--th:object="${userRegistrationForm}"-->
                                <div class="input-field col s12 m12 l12 center">
                                    <img width="300" th:src="@{/images/logo_disnet/H_color.png}" alt="" class="responsive-img valign profile-image-login" />
                                    <br/>
                                    <p class="center login-form-text"><h5>User Registration</h5></p>
                                    <br/>
                                </div>
                                <div th:replace="fragments/registration :: form"/>
                                <div class="input-field col s12 m12 l12 center ">
                                    <p class="center login-form-text">By creating an account by clicking on "Register now" <br/> you are accepting the <a href="#">Terms and Conditions of DISNET</a>.</p>
                                </div>
                                <div class="input-field col s12 m12 l12">
                                    <button id="register_now-btn" type="button" class="btn waves-effect waves-light submit col s12 m12 l8 offset-l2 blue darken-3">Register Now</button>
                                </div>
                                <div class="input-field col s12 m12 l12">
                                    <p class="margin center medium-small sign-up"><a th:href="@{/user/login}">Already have an account?</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer-js"/>
        <script type="text/javascript" th:src="@{/js/user/registration.js}"></script>
    </body>
</html>