<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DISNET - Home</title>
    <div th:replace="fragments/header :: header-css"/>
    <link type="text/css" rel="stylesheet"  th:href="@{/css/user.css}" media="screen,projection" />
    <!--<link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css" />-->
    <link type="text/css" rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.0/css/responsive.dataTables.min.css" />
    <!--<link type="text/css" rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/dataTables.material.min.css" />-->
</head>
<body>
    <div th:replace="fragments/header :: header"/>
    <main>
        <div class="container">
<!--
            <div class="col s9">
                &lt;!&ndash; Teal page content  &ndash;&gt;
                <div class="container">
                    <form th:if="${email}" th:action="@{/user/logout}" method="get">
                        <button class="btn btn-md btn-danger btn-block" name="registration"
                                type="Submit">Logout</button>
                    </form>
                </div>
            </div>
-->
            <br/><br/>
            <h4>USER HOME</h4>
            <div><h5><span th:utext="${userName}"></span></h5></div>
            <p th:utext="${clientMessage}"></p>
            <br/>
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="material-icons">person</i>Personal Information</div>
                    <div class="collapsible-body">

                        <div class="row"><!--Dos columnas-->
                            <div class="col s2">
                                <button id="edit_personal_info-btn" type="submit" class="btn waves-effect waves-light col s12 m12 l8 offset-l2 blue darken-3" value="edit">Edit</button>
                            </div>
                            <div class="col s10">
                                <div class="z-depth-0 card-panel">
                                    <form id="updateForm" class="login-form right-alert" method="post" action="#" ><!--th:object="${userRegistrationForm}"-->
                                        <div th:replace="fragments/registration :: form"/>
                                        <button id="save_personal_info-btn" type="button" class="btn waves-effect waves-light col s12 m12 l8 offset-l2 blue darken-3" value="save">Save Changes</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">lock_open</i>Access Token</div>
                    <div class="collapsible-body">
                        <p>
                            <div class="row">
                                <div class="card-content wrap-text"  th:text="${token}" />
                            </div>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">data_usage</i>Requests</div>
                    <div class="collapsible-body">
                        <p>Request History</p>

                        <table id="request_history_table" class="display responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>Transaction Id</th>
                                <th>Runtime (in milliseconds)</th>
                                <th>Datetime</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Transaction Id</th>
                                <th>Runtime (in milliseconds)</th>
                                <th>Datetime</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </li>
            </ul>


        </div>
    </main>
    <!-- /.container -->
    <div th:replace="fragments/footer :: footer"/>
    <div th:replace="fragments/footer :: footer-js"/>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.2.0/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" th:src="@{/js/user/registration.js}"></script>
    <script type="text/javascript" th:src="@{/js/user/home.js}"></script>
    <!--<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/dataTables.material.min.js"></script>-->
</body>
</html>