<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DISNET - Home</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
    <div th:replace="fragments/header :: header"/>

    <main>
    <div class="container">
        <form th:if="${email}" th:action="@{/user/logout}" method="get">
            <button class="btn btn-md btn-danger btn-block" name="registration"
                    type="Submit">Logout</button>
        </form>

        HOME
        <div><span th:utext="${userName}"></span></div>
        <p th:utext="${clientMessage}"></p>
        <br/><br/>
    </div>
    </main>
    <!-- /.container -->

    <div th:replace="fragments/footer :: footer"/>
    <div th:replace="fragments/footer :: footer-js"/>

</body>
</html>