<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DISNET - Members</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
    <div th:replace="fragments/header :: header"/>

    <div class="container">
        <div class="row">
            <h3 class="header">The Team</h3>
            <p class="caption">We are a team of researchers at the Center for Biomedical Technology (CTB) within the Polytechnic University of Madrid (UPM) in Spain.</p>
            <br/>
            <div class="s12 center">
                <div class="image-container">
                    <img th:src="@{/images/team/laboratory.jpeg}" style="width:80%;" alt=""
                         class="responsive-img valign profile-image-login tooltipped"
                         data-position="bottom" data-delay="50" data-tooltip="MiDAS Lab" />
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col s12 m3 center-on-small-only">
                <!--<div class="image-container">
                    <img src="images/alvin.png">
                </div>-->
                <i class="large material-icons">account_circle</i>
            </div>
            <div class="col s12 m9">
                <h4>Alejandro Rodríguez González</h4>
                <p>Coming soon.</p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m3 center-on-small-only">
                <!--<div class="image-container">
                    <img src="images/alvin.png">
                </div>-->
                <i class="large material-icons">account_circle</i>
            </div>
            <div class="col s12 m9">
                <h4>Gerardo Lagunes García</h4>
                <p>Coming soon.</p>
            </div>
        </div>
        <br/><br/>
    </div>
    <!-- /.container -->

    <div th:replace="fragments/footer :: footer"/>
    <div th:replace="fragments/footer :: footer-js"/>
</body>
</html>