<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DISNET - DISNET API</title>
    <div th:replace="fragments/header :: header-css"/>
    <link type="text/css" rel="stylesheet"  th:href="@{/css/prism/okaidia/prism.css}" media="screen,projection" />
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br/><br/>
        <h1 class="header center orange-text"><img width="250" th:src="@{/images/logo_disnet/V_color.png}" /></h1>
        <div class="row center">
            <h5 class="header col s12 light">Drug repositioning and disease understanding through complex networks creation and analysis</h5>
        </div>
        <br/><br/>
    </div>
</div>


<div class="container">

    <pre>
        <code class="language-json">
            {
                "token": "eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJncmFyZG9sYWdhckBob3RtYWlsLmNvbSIsImF1ZCI6IndlYiIsIm5hbWUiOiJHZXJhcmRvIExhZ3VuZXMiLCJ1c2VyIjp0cnVlLCJpYXQiOjE1MDk2MTQyNjh9.uVhDgfLrAgdnj02Hsbgfj9tkVlfni89i0hKVYW31eHApCHpheikK9ae1MhbzRhiyUcFGMKwtiyVgff5NCMY3PA",
                "authorization": true,
                "authorizationMessage": "Authorized!",
                "versions": [
                    "2017-09-28",
                    "2017-10-08",
                    "2017-10-15",
                    "2017-11-02",
                    "2017-11-15"
                ]
            }
        </code>
    </pre>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>
<div th:replace="fragments/footer :: footer-js"/>
<script type="text/javascript" th:src="@{/js/prism/okaidia/prism.js}"></script>

</body>
</html>